<div id="container">
    <ul class="nav nav-tabs" ng-controller="TabController">
        <li ng-repeat="tab in tabList" class="{{getActiveClass(tab)}}" ng-click="clicked(tab)"">
            <a href="#/view1">{{tab.name}}</a>
        </li>
    </ul>

    <div ng-view class="tab-content"><div>
</div>
