<div id="container">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#/view1">Errors</a></li>
        <li><a href="#/view2">Information</a></li>
    </ul>

    <div ng-view class="tab-content"><div>
</div>
